<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">
  <img class="logo-img" src="../assets/smart.png" />
  <ion-item>
    <ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-label>
    <ion-input type="text" placeholder="First Name" [(ngModel)]="firstName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="person"></ion-icon>
    </ion-label>
    <ion-input type="text" placeholder="Last Name" [(ngModel)]="lastName"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="mail"></ion-icon>
    </ion-label>
    <ion-input type="text" placeholder="Email" [(ngModel)]="email"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="contacts"></ion-icon>
    </ion-label>
    <ion-input type="text" placeholder="Contact Number" [(ngModel)]="contactNumber"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="lock"></ion-icon>
    </ion-label>
    <ion-input type="password" placeholder="password" [(ngModel)]="password"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="lock"></ion-icon>
    </ion-label>
    <ion-input type="date" placeholder="Birthday" [(ngModel)]="birthday"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="lock"></ion-icon>
    </ion-label>
    <ion-input type="password" placeholder="PIN" [(ngModel)]="PIN"></ion-input>
  </ion-item>

  <ion-button expand="block" padding color="secondary" (click)="register()">Create Account
  </ion-button>
</ion-content>