<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/login"></ion-back-button>
    </ion-buttons>
    <ion-title>Register</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding class="ion-padding background">
  <ion-list lines="full" class="ion-no-margin ion-no-padding" class="bg-transparent">
    <!-- <img class="logo-img" src="../assets/smart.png" /> -->
    <ion-item>
      <ion-label position="stacked">First Name <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="firstName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Last Name <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="lastName"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Email <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="email"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Contact Number <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="contactNumber"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Password <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" [(ngModel)]="password"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">Birthday <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="date" [(ngModel)]="birthday"></ion-input>
    </ion-item>

    <ion-item>
      <ion-label position="stacked">PIN <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="password" pattern="[0-9]*" inputmode="numeric" [(ngModel)]="PIN"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Question 1</ion-label>
      <ion-select multiple="false" [(ngModel)]="question1" cancelText="Cancel" okText="Yes">
        <ion-select-option value="First Name of you Dog?">Name of your Pet?</ion-select-option>
        <ion-select-option value="Name of your City?">Name of your City?</ion-select-option>
        <ion-select-option value="Your Motto?">Your Motto?</ion-select-option>
        <ion-select-option value="Name of yout Uncle?">Name of yout Uncle?</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Answer <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="answer1"></ion-input>
    </ion-item>
    <ion-item>
      <ion-label>Question 2</ion-label>
      <ion-select multiple="false" [(ngModel)]="question2" cancelText="Cancel" okText="Yes">
        <ion-select-option value="Favorite Food?">Favorite Food?</ion-select-option>
        <ion-select-option value="Favorite Country?">Favorite Country?</ion-select-option>
        <ion-select-option value="Favorite Book?">Favorite Book?</ion-select-option>
        <ion-select-option value="Favorite TV Show">Favorite TV Show</ion-select-option>
      </ion-select>
    </ion-item>
    <ion-item>
      <ion-label position="stacked">Answer <ion-text color="danger">*</ion-text>
      </ion-label>
      <ion-input type="text" [(ngModel)]="answer2"></ion-input>
    </ion-item>

  </ion-list>
  <ion-button expand="block" padding color="primary" (click)="register()">Create Account
  </ion-button>
</ion-content>