<ion-content class="ion-padding">
  <img src="../assets/door_t2.jpg" />
  <ion-fab horizontal="start" vertical="top" slot="fixed">
    <ion-fab-button href="/smart/dashboard">
      <ion-icon name="arrow-back"></ion-icon>
    </ion-fab-button>
  </ion-fab>

  <ion-list>
    <ion-list-header class="header-head">Doors & Window</ion-list-header>

    <ion-item *ngFor="let appliance of door">
      <div (click)="presentupdate(appliance.registered_devices_id)">
        <ion-label>{{appliance.deviceLists}}
        </ion-label>
      </div>
       <!-- if window is lock -->
      <ion-avatar slot="end" *ngIf="appliance.state === 1">
        <ion-toggle color="primary" Checked
          (ionChange)="toogle_change(appliance.registered_devices_id, appliance.state, DoorWindow)"></ion-toggle>
      </ion-avatar>

       <!-- if window is lock -->
      <ion-avatar slot="end" *ngIf="appliance.state === 0">
        <ion-toggle color="primary"
          (ionChange)="toogle_change(appliance.registered_devices_id, appliance.state, DoorWindow)">
        </ion-toggle>
      </ion-avatar>
    </ion-item>

    <ion-item *ngFor="let appliance of window">
      <div (click)="presentupdate(appliance.registered_devices_id)">
        <ion-label>
          <h3>{{appliance.deviceLists}}</h3>
          <!-- if window is lock -->
          <p *ngIf="appliance.state === 1" style="color:red;"> Close</p>

          <!-- if window is unlock -->
          <p *ngIf="appliance.state === 0" style="color:red;"> Open</p>
        </ion-label>
      </div>
      <!-- if window is lock(icon) -->
      <ion-icon *ngIf="appliance.state === 1" style="color:black;" slot="end" src="../../../assets/lock-closed.svg"
        name="lock-closed"></ion-icon>

      <!-- if window is unlock(icon) -->
      <ion-icon *ngIf="appliance.state === 0" style="color:cyan;" slot="end" src="../../../assets/icon/lock-open.svg"
        name="lock-open"></ion-icon>
    </ion-item>

  </ion-list>



</ion-content>
<ion-footer>
  <!-- <ion-toolbar>
    <ion-fab horizontal=" start" vertical="top" slot="fixed">
      <ion-fab-button href="/smart/dashboard" color="light">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-button expand="full">
      <ion-icon slot="start" name="star"></ion-icon>
      Left Icon
    </ion-button>

    <ion-button expand="full">
      Right Icon
      <ion-icon slot="end" name="star"></ion-icon>
    </ion-button>
  </ion-toolbar> -->
  <ion-toolbar color="primary">
    <ion-fab horizontal=" start" vertical="top" slot="fixed">
      <ion-fab-button href="/smart/dashboard" color="light">
        <ion-icon name="arrow-dropleft"></ion-icon>
      </ion-fab-button>
    </ion-fab>
    <ion-buttons (click)="presentModal()" slot="start">
      <ion-button>
        Device
      </ion-button>
    </ion-buttons>
    <ion-buttons (click)="presentHistory()" slot="end">
      <ion-button>
        History
      </ion-button>
    </ion-buttons>


  </ion-toolbar>
  <!-- <ion-button  expand="block" color="primary">Device</ion-button>
  <ion-button (click)="presentHistory()" expand="block" color="primary">History</ion-button> -->
</ion-footer>