.head {
    margin-top:15px;
}

.toolbar-background {
    background-color: blue !important;
}
// .card-back {
//     padding: 0 15px;
// }

// .appliances {
//     background-color: #251e3e;
// }

// .door {
//     background-color: #451e3e;
// }

// .cctv {
//     background-color: #651e3e;
// }

// .alarm {
//     background-color: #851e3e;
// }

ion-content.background{
    --background: url(../../../assets/img/background.jpg) 0 0/100% 100% no-repeat;
}