<ion-header>
  <ion-toolbar>
    <ion-button slot="end" (click)="closeModal()" color="primary">Close</ion-button>
  </ion-toolbar>
</ion-header>



<ion-content class="ion-padding">
  <ion-item>
    <ion-label>Type of Device</ion-label>
    <ion-select multiple="false" [(ngModel)]="appliances" cancelText="Cancel" okText="Yes">
      <ion-select-option value="Appliances">Appliances</ion-select-option>
      <ion-select-option value="Door">Door</ion-select-option>
      <ion-select-option value="CCTV">CCTV</ion-select-option>
      <ion-select-option value="Alarm">Alarm</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>
      <ion-icon name="copy"></ion-icon>
    </ion-label>
    <ion-input type="text" placeholder="Device List" [(ngModel)]="deviceList"></ion-input>
  </ion-item>

  <ion-item>
    <ion-label>Device Area</ion-label>
    <ion-select multiple="false" [(ngModel)]="area" cancelText="Cancel" okText="Yes">
      <ion-select-option value="Kitchen">Kitchen</ion-select-option>
      <ion-select-option value="Living Room">Living Room</ion-select-option>
      <ion-select-option value="CR">CR</ion-select-option>
      <ion-select-option value="Storage Area">Storage Area</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-item>
    <ion-label>MacAddress</ion-label>
    <ion-select [(ngModel)]="macAddress" *ngFor="let un of unregistered">
      <ion-select-option value="{{un.macAddress}}">{{un.macAddress}}</ion-select-option>
    </ion-select>
  </ion-item>

  <ion-button expand=" block" class="ion-padding" color="secondary" (click)="register()">Create Device
  </ion-button>
</ion-content>