   
  .message-input {
    margin-top: 0px;
    border: 1px solid var(--ion-color-medium);
    border-radius: 10px;
    background: #fff;
  }
   
  .msg-btn {
    --padding-start: 0.5em;
    --padding-end: 0.5em;
  }
  
  .ion-list-header {
    font-size: 30px !important;
  }

  .header-head {
    font-size: 20px;
  }
